/*Custom fonts, font sizes & colours*/
:root {
    --ff-sans: 'Quicksand', sans-serif;
    --ff-normal: 500;
    --ff-bold: 700;

    --ff-desktop-heading1: 45px;
    --ff-desktop-heading2: 36px;
    --ff-desktop-heading3: 24px;
    --ff-desktop-paragraph: 18;
    --ff-desktop-link: 18px;

    --ff-mobile-heading1: 40px;
    --ff-mobile-heading2: 32px;
    --ff-mobile-heading3: 20px;
    --ff-mobile-paragraph: 16px;
    --ff-mobile-link: 16px;

    --clr-darkgrey: #36413C;
    --clr-lightgrey: #5E6E66;
    --clr-darkorange: #DE6C17;
    --clr-lightorange: #FF6D00;
    --clr-black: #000000;
}

/**/
* {
    box-sizing: border-box;
}


html {
    font-family: var(--ff-sans), serif;
    line-height: 100%;
    letter-spacing: 0;
}

h1, h2, h3 {
    line-height: 100%;
}

body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-weight: var(--ff-bold);
    font-size: var(--ff-mobile-heading1);
    color: var(--clr-darkgrey);
}

h2 {
    font-weight: var(--ff-bold);
    font-size: var(--ff-mobile-heading2);
    color: var(--clr-darkgrey);
}

h3 {
    font-weight: var(--ff-normal);
    font-size: var(--ff-mobile-heading3);
    color: var(--clr-lightgrey);
}

p {
    font-weight: var(--ff-normal);
    font-size: var(--ff-mobile-paragraph);
    color: var(--clr-black);
}

button {
    font-weight: var(--ff-bold);
    font-size: var(--ff-mobile-link);
    color: var(--clr-darkorange);
}

.container {
    padding-inline: 6rem;
}

header {
    background-image: url("main-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    position: relative;
}

#main-banner {
    width: 100%;
}

#wave-banner {
    width: 100%;
    position: absolute;
    bottom: 0;

}

.container-header {
    position: absolute;
    bottom: 40%;
}


.container-main {
    text-align: center;
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.card {
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px darkgray;
    max-width: 400px;
}

.card-content {
    padding: 0 1rem 1rem 1rem;
}

main {
    background-color: #f4f4f4;
    padding-block: 1rem;
}

header button {
    color: white;
    background-color: var(--clr-lightorange);
    padding: 10px 20px;
    border: 1px var(--clr-lightorange) ;
    border-radius: 5px;
}

header button:hover {
    background-color: var(--clr-darkorange);
    border: 1px var(--clr-darkorange) ;
}

main button {
    background-color: #f4f4f4;
    border: none;
}

main button:hover {
    color: var(--clr-lightorange)
}

@media (min-width: 768px) {
    h1 {
        font-weight: var(--ff-bold);
        font-size: var(--ff-desktop-heading1);
        color: var(--clr-darkgrey);
    }

    h2 {
        font-weight: var(--ff-bold);
        font-size: var(--ff-desktop-heading2);
        color: var(--clr-darkgrey);
    }

    h3 {
        font-weight: var(--ff-normal);
        font-size: var(--ff-desktop-heading3);
        color: var(--clr-lightgrey);
    }

    p {
        font-weight: var(--ff-normal);
        font-size: var(--ff-desktop-paragraph);
        color: var(--clr-lightgrey);
    }

    button {
        font-weight: var(--ff-bold);
        font-size: var(--ff-desktop-link);
        color: var(--clr-darkorange);
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'img content';
        min-width: 650px;
    }

    .card img {
        grid-area: img;
    }

    .card-content {
        grid-area: content;
    }

    header {
        min-height: 60vh;
    }

}


@media (min-width: 1200px) {
    .container-card {
        flex-direction: row;}
    .card {

        grid-template-columns: 1fr;
        grid-template-areas:
        'img'
        'content';
        min-width: 350px;
    }


    header {
        min-height: 80vh;
    }
}