* {
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
}

.main-banner {
    width: 100%;
    height: 100vh;
}

.banner-wave {
    position: absolute;
    width: 100%;
    bottom: 0%;
    z-index: 3; /* above banner, below text if needed */
}

.header-content {
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 3em;
    color: white;

}

.main-banner {
    z-index: 0;
    width: 100%;
}

.header-button {
    background-color: #ff7a06;
    padding: 20px 30px;
    border: 1px solid #ff7a06;
    border-radius: 10px;
    color: white;
}

.header-button:hover {
    background-color: orangered;
    border-color: orangered;
}


main {
    width: 100%;
    height: 100vh;
    font-size: 2em;
}

.main-content {
    width: 100%;
    height: 100vh;
    font-size: 2em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
}

.cards {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
}

.card-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    text-align: left;
}

.card-buttons {
    border: none;
    background: none;
    color: #ff7a06;

}

.card-buttons:hover {
    color: orangered;
}

h2 {
    color: #292828;
}

h3 {
    color: #474444;
}

.card-content p {
    color: #6e6b6b;
}


